@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Itim&family=Playwrite+IT+Moderna:wght@100..400&family=Rancho&display=swap');

.header {
    height: 3rem;
    background-color: white;
    border-bottom: 1px solid rgb(235, 235, 235);
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Rancho', sans-serif;
    padding-top: 10px;
    font-size: 200%;
    letter-spacing: 3px;
}