@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Itim&family=Playwrite+IT+Moderna:wght@100..400&display=swap');

.day-container {
    background-color: rgb(255, 251, 251);
    margin: 10px;
    padding: 10px 18px;
    width: 90%;
    border-radius: 5px;
    border: 1px solid rgb(235, 235, 235);
}

.day-title {
    margin-left: 5px;
    font-family: "Itim", serif;
}

.event-container {
    max-width: 100%;
}

.event {
    width: 100%;
    padding: 0px 20px 20px 20px;
    border: none;
    margin: 5px;
    border-radius: 5px;
    box-shadow: 0px 0px 0px;
    transition: transform 0.3s ease-in-out;
    text-align: left;
}

.event:hover {
    transform: scale(1.05);
    background-color: #a3d1f3;
    cursor: pointer;
}

.event:active {
    background-color: #8fcdfb;
}

.event-header {
    display: grid;
    grid-template-columns: auto auto;
}
.event-title {
    font-weight: 600;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: left;
    align-self: center;
}

.event-cat {
    display: flex;
    justify-content: right;
}

.cat {
    background-color: #8fcdfb;
    border-radius: 5px;
    padding: 10px;
}

.event-description {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

